.container {
  display: flex;
  padding-top: 10px;
}
.cell {
  width: 40px;
  height: 40px;
  background-color: lightgreen;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}