.app {
  height: 100vh;
  padding: 20px;
}
.title {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}






